:root{

  --cor-primaria: #BE3144;
--cor-fundo:#c0b28f;

--cor-disciplina:#f6ff71ce;

--cor-branco:#ffffff;

}
.cabecalho{
  font-style: italic;
  color: var(--cor-primaria);
  font-weight: 500;
  margin-left:800px;
  padding: 0%;
  font-size: large;
}
.corpo{
      
  background-color: var(--cor-fundo); 
}   
.header {   
  display: flex;  
  width: 100%;
  background-color: var(--cor-fundo);
  padding: 1rem;
  position: relative;
  justify-content: center;
}

.menu-disciplina {
  width: 20%;
  display: inline-block;
}
.botao-disciplinas {
  cursor: pointer;
  font-size: 2rem;
  background: none;
  background-color: var(--amarelo-claro);
  border: none;
  padding: 1.05rem 1.5rem;
  color: var(--roxo-claro);
}
.lista-vertical {
  display: none;
  position: absolute;
  min-width: 190px;
  z-index: 1;
  left: 2rem;

}
.lista-vertical a {
  margin-top: 10%;
  color: var(--preto);
  padding: 1.05rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  text-align: center;
  display: flex;
}
.lista-vertical a:hover {
  background-color: var(--cor-disciplina);
}

#menu-toggle:checked ~ .lista-vertical {
  display: block;
}

#menu-toggle:checked + .botao-disciplinas {
  background-color: var(--cor-branco);
}