.title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bolo{
  width: 250px;
  height: 250px;
  display: flex;

}
.tortadelimonations{
  width: 25%;
  height: 25%;
  display: flex;
}